/************** FONTS **************/

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&display=swap');

:root {
	--green: #16F511;
	--orange: #FFC801;
	--red: #E63212;
	--purple: #800DFF;
	--blue: #07CEF2;
	--white: hsl(0, 0%, 92%);
}

html {
	font-family: Heebo, sans-serif;
	background-color: var(--white);
}

header {
	position: fixed;
	width: 100%;
	height: 35px;
	left: 0px;
	top: 0px;
	background-color: var(--red);
	z-index: 10;
}

main {
	height: 100%;
	width: 100%;
}

/**********************************************/
.header_links {
	font-family: Inconsolata, monospace;
	font-size: 1em;
	top: 0px;
	height: 35px;
	width: auto;
	right: 20px;
	display: flex;
	position: absolute;
}

.header_link {
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.header_link a {
	color: black;
	text-decoration-line: none;
}

.header_link a:hover{
	color: var(--white);
}

.main_name {
	width: 75%;
	font-size: 1.5em;
	color: var(--blue);
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 35vh;
}

.main_name p {
	color: black;
}

/**********************************************/
